.weather {
    background: url('https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    width: 100%;
}

.heading {
    color: white;
    font-weight: 700;
}

.weatherResult {
    margin: auto;
    width: 500px;
    height: 300px;
    max-width: 100%;
}

.icon {
    margin-top: 2rem;
    height: 100px;
    width: 100px;
}

.city {
    font-size: 35px;
}

.temp {
    font-size: 45px;
    font-weight: 700;
}
